<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LinkToTel</title>
    <meta name="description" content="Generate a URL to call a phone number (using the tel: protocol) or send an email (using the mailto: protocol)" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'react' %>
    <%= stylesheet_pack_tag 'react' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
